<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Products</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header-nav">
            <ul class="main-header-intem-list">
                <li class="main-header-intem"><a class="active" href="/">Shop</a></li>
                <li class="main-header-intem"><a href="/admin/add-product">Add-Product</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h2>My Products</h2>
        <p>List of all products....</p>
    </main>

</body>
</html>